<launch>

  <node name="interpolator" pkg="tracking_pid" type="path_interpolator">
    <!-- <param name="target_x_vel" value="0.3" />
    <param name="target_x_acc" value="0.3" />
    <param name="target_yaw_vel" value="0.2" />
    <param name="target_yaw_acc" value="0.2" /> -->
  </node>

  <node name="controller" pkg="tracking_pid" type="controller" output="screen">
    <remap from="move_base/cmd_vel" to="/cmd_vel" />
    <remap from="local_trajectory" to="trajectory" />
    <!-- <param name="controller_debug_enabled" value="True" />
    <param name="l" value="0.2" /> -->
  </node>

  <!-- <include file="$(find path_tracking_pid)/launch/path_tracking_pid_mbf.launch" /> -->

  <node name="pallet_detection" pkg="pallet_detection_and_docking"
    type="dbscan_pallet_detect_test.py" output="screen" />

  <node name="pallet_docking" pkg="pallet_detection_and_docking" type="pallet_docking"
    output="screen" />

  <!-- <node pkg="pallet_detection_and_docking" type="obstacle_extractor_node"
  name="obstacle_extractor_node"   >
      <param name="active"               value="true"/>
      <param name="use_scan"             value="true"/>
      <param name="use_pcl"              value="false"/>

      <param name="use_split_and_merge"    value="true"/>
      <param name="circles_from_visibles"  value="true"/>
      <param name="discard_converted_segments" value="true"/>
      <param name="transform_coordinates"  value="false"/>

      <param name="min_group_points"     value="5"/>

      <param name="max_group_distance"   value="0.1"/>
      <param name="distance_proportion"  value="0.00628"/>
      <param name="max_split_distance"   value="0.2"/>
      <param name="max_merge_separation" value="0.2"/>
      <param name="max_merge_spread"     value="0.2"/>
      <param name="max_circle_radius"    value="0.6"/>
      <param name="radius_enlargement"   value="0.3"/>

      <param name="min_x_limit"       value="-1.25"/>
      <param name="max_x_limit"       value="0.8"/>
      <param name="min_y_limit"       value="-0.3"/>
      <param name="max_y_limit"       value="0.3"/>

      <param name="frame_id"             value="base_link"/>
  </node> -->

</launch>